.link-form{
    color: rgb(81, 5, 153);
}

.link-form:hover{
    color: #4e193e;
}

.modal-body{
    background-color: #E9E8E8
}

.ingresar{
    background: none !important;
    color: rgb(85, 84, 84);
    font-weight: 500;
    border-color: #913175;
}

.ingresar:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #913175 !important;
    border-color: #913175 !important;
}

.modalHeader{
    background-color:rgba(89, 19, 155, 0.966) ;
}

.error{
    color: red;
}

.btn-iniciar-sesion{
    background-color:rgba(89, 19, 155, 0.966);
    border: none;
}

.btn-iniciar-sesion:hover{
    background-color: #CD5888;
}