.link-form{
    color: rgb(81, 5, 153);
}

.link-form:hover{
    color: #4e193e;
}

.modal-body{
    background-color: #E9E8E8
}

.ingresar{
    background: none !important;
    color: rgb(85, 84, 84);
    font-weight: 500;
    border-color: #913175;
}

.ingresar:hover{
    color: rgb(255, 255, 255) !important;
    background-color: #913175 !important;
    border-color: #913175 !important;
}

.modal-header{
    background-color:#913175 ;
}

.error{
    color: red;
}

.btn-iniciar-sesion{
    font-weight: 500;
    background: none!important;
    border-color: #913175;
    color: #913175;
}

.btn-iniciar-sesion:hover{
    background-color: #913175 !important;
    color: white;
    border-color: #913175 !important;
}