.tarjetas {
    width: 17rem;
}

.contenedor-carousel{
    height: 200px !important;
}

.carousel-item{
    height: 200px !important;
}

.carousel-item img{
    height: 200px;
}

.envio{
    width: 2.5rem;
}

div.publicidad {
    padding-right: 0;
}