.total-text{
    font-weight: 400;
    font-size: 1.3rem;
}

.modal-body-carrito{
    filter: brightness(40%);
}

.total-text-label{
    font-size: 1.3rem;
    font-weight: 600 !important;
    color: #493744;
}

.icono-carrito-modal{
    color: #913175;
}

.header-carrito{
    background-color: #913175 !important;
}

.boton-cerrar-carrito{
    background-color: white !important;
    color: rgb(219, 129, 44);
    font-weight: 500;
    border-color: rgb(219, 129, 44);
}

.boton-cerrar-carrito:hover{
    background-color: rgb(219, 129, 44) !important;
    border-color: rgb(219, 129, 44) !important;
    color: white;
}

.boton-comprar-carrito{
    background-color: white !important;
    color: blueviolet;
    font-weight: 500;
    border-color: blueviolet;
}

.boton-comprar-carrito:hover{
    background-color: blueviolet !important;
    border-color: blueviolet !important;
    color: white;
}

@media screen and (max-width: 400px){
    .footer-carrito-modal{
        width: 80% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: space-between !important;
    }

    .footer-total-tex-carrito-modal{
        width: 80% !important;
        display: flex !important;
        justify-content: space-evenly !important;
    }

    .footer-botones-carrito-modal{
        width: 80% !important;
        display: flex !important;
        justify-content: space-evenly;
    }
}

@media screen and (min-width: 280px) and (max-width: 350px) {
    .footer-carrito-modal{
        width: 80% !important;
    }

    .footer-total-tex-carrito-modal{
        width: 100% !important;
        justify-content: space-between;
    }

    .footer-botones-carrito-modal{
        width: 100% !important;
        display: flex !important;
        justify-content: space-between;
    }
}

@media screen and (min-width: 768px) {
    .body-modal{
        height: 28rem;
    }
}