.body-contenedor{
    height: 70vh;
}

.contenedor-elementos{
    height: 60vh;
    background-color: rgba(234, 216, 248, 0.295);
    border-color: #913174a9 !important;
}

.recup-contrasenia-titulo{
    color: rgb(160, 38, 105);
}

.div-recuperar-contrasenia {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_email {
    width: 90%;
}

.recup-contrasenia-boton-submit{
    border-color: #913175;
    background-color: whitesmoke;
    font-size: 1.08rem;
    color: rgb(41, 40, 40);
}

.recup-contrasenia-boton-submit:hover{
    border-color: #913175;
    background-color: #913175;
}

.recup-contrasenia-boton-submit:active{
    border-color: #913175 !important;
    background-color: #752b5f !important;
}

@media (max-width:654px) {
    .form-cambiar-contrasenia {
        width: 100%;
        background-color: azure;
    }

    .error-respuesta-recup-contrasenia{
        text-wrap:wrap !important;
        text-align: center;
        height: auto !important;
    }
}

.error-respuesta-recup-contrasenia{
    font-size: small;
    text-wrap:nowrap;
    color: red;
    height: 0.7rem;
    padding-bottom: 2%;
}