.header-nav{
  background-color: #E9E8E8 !important;
}

.redes-header img {
    width: 1rem;
}

.redes-header img:hover{
    transform: scale(1.3)
}

/* Break point */

@media  (width > 768px) {
    .search{
      width: 50%;
    }
  }