.header-nav{
  background-color: #913175 !important;
}

.btn-hover{
  border-bottom: 1px solid rgb(160, 157, 157) !important;
  width: 40%;
  color: rgb(85, 84, 84) !important;
}

.logotipo-header{
  font-weight: 800;
  color: #913175;
}

.btn-canvas{
  border-top: 1px solid black;
  width: 50% !important;
}

.canvas-header{
  background-color: #913175;
}

.contenedor-header-botones > button {
  background-color: white;
}

.logotipo-header-tablet{
  font-weight: 800;
  color: whitesmoke;
}

.logotipo-header-tablet:hover{
  color: rgb(203, 207, 211);
}

.boton-buscar-header{
  border-color:  #913175;
  background-color: #E9E8E8;
  color: #913175;
}

.boton-buscar-header:hover{
  background-color: #913175;
  color: #E9E8E8;
  border-color:  #913175;
}

.canvas-bs-header{
  width: 300px !important;
}

@media (width >= 768px) {
  .header-nav{
    background-color: #f1e6f3 !important;
  }

  .navbar-items-header{
    text-align: center;
  }

  .nav-drop-down:hover {
    transition: all 0.2s ease-out;
    background-color: #913175 !important;
  }
  
  .nav-drop-down:hover{
    transition: all 0.2s ease-out;
    color: white !important;
  }
  
  .btn-hover {
    border-radius: 5px !important;
    border-top:none;
    border-bottom: none;
    width: auto;
  }
  
  .btn-hover:hover{
    transition: all 0.2s ease-in-out;
    color: white !important;
    background-color: #913175;
  }

  .boton-select-header:hover .nav-link{
    transition: all 0.2s ease-in-out;
    color: rgb(232, 232, 236) !important;
  }

  .boton-select-header .nav-link{
    color: rgb(93, 93, 95) !important;
  }
}

.logotipo-header:hover{
  color: #913190;
}

.redes-header img {
    width: 1.3rem;
}

.redes-header img:hover{
  transition: all 0.5s ease-out;
    transform: scale(1.3)
}
