.esperando-respuesta-body{
    height: 75vh;
}

.esperando-respuesta-card-content{
    height: 80%;
    border-color: #913174a9 !important;
}

.esperando-respuesta-text-logo{
    font-size: 2rem;
    color: rgb(160, 38, 105);
}

.esperando-respuesta-content{
    height: 70%;
}

.esperando-respuesta-boton-inicio{
    border-color: #913175;
    background-color: whitesmoke;
    font-size: 1.08rem;
    color: rgb(41, 40, 40);
}

.esperando-respuesta-boton-inicio:active{
    border-color: #913175 !important;
    background-color: #752b5f !important;
}

.esperando-respuesta-boton-inicio:hover{
    border-color: #913175;
    background-color: #913175;
}
