#contacto {
    font-size: 12px;
}
#data_fiscal {
    width: 3rem;
}

.footer{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.74) 0%, rgba(250, 245, 245, 0.74) 10%, rgb(231, 227, 227) 90%);
}

.redes-icono:hover{
    transform: scale(1.4);
}
.soportes_link:hover{
    color:darkcyan
}

.acerca_link:hover{
    color:darkcyan 
}

.contacto_link:hover{
    color:darkcyan 
}

.contenedor-acerca-footer{
    width: 50% !important;
}

.contenedor-soporte-footer{
    width: 50% !important;
}

.contenedor-contacto-footer{
    width: 50% !important;
}

.contenedor-data-fiscal-footer{
    width: 50% !important;
}

@media (width >= 350px) and (width <=575px) {
    .contenedor-acerca-y-soporte , .contenedor-contacto-y-data-fiscal{
        display: flex !important;
        flex-direction: row !important;
    }

    .contenedor-contacto-footer{
        align-items: center;
    }
}