.imagen-lista-productos{
    height: 5rem;
}

.titulos-de-paginas{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(82, 41, 82);
    
}

.label-input-componente{
    color: rgb(85, 84, 84);
}

.label-imagen-imput-componente{
    color: rgb(65, 64, 64);
    font-size: 1.2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.td-favoritos{
    height: 10vh !important;
    vertical-align: middle;
    overflow: hidden;
    table-layout: fixed;
}

.pagination-style{
    vertical-align: middle;
}

.descripcion-card-producto{
    height: 10vh;
     overflow: auto;
 }
 
 .boton-favorito{
     position: absolute;
     right: 0px;
     top: 0px;
 }

 .text-validation{
    font-size:smaller;
    font-weight: 450;
    color: #ec2828;
    margin-top: -4px;
    margin-bottom: 2%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
       -webkit-appearance: none;
        margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.div-container-img{
    height: 250px;
}

.img-upload {
    height: 200px;
    width: 200px;
    border: 5px solid #815c767c;
}

.imagen-producto-crud{
    height: 320px;
    width: 380px;
}

@media (width < 380px){
    .imagen-producto-crud{
        width: 100%;
        height: 280px;
        margin: 0 !important;
        padding: 0 !important;
    }
}

.imagenUsuarioHeader {
    height: 40px;
    width: 40px;
}

.imagenUsuarioHeader:hover{
    cursor: pointer;
}

.imagen-pagina-producto{
    height: 300px;
    width: 300px;
    position:relative
}

@media screen and (min-width: 768px) and (max-width: 950px){
    .precio-pagina-producto{
        font-size: 2rem !important;
    }
}

.precio-pagina-producto{
    font-size: 2rem;
    color: rgb(36, 31, 31);
}

@media screen and (max-width: 649px) {
    .imagen-pagina-producto{
        height: 250px;
        width: 230px;
    }
}

.background-paginas{
    background-color: rgb(248, 241, 248) !important;
}